<section id="gallery" class="gallery">
  <div class="gallery__swiper swiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide gallery__slide" style="background-image: url('/src/assets/images/columbretes1.jpg')">
      </div>

      <div class="swiper-slide gallery__slide" style="background-image: url('/src/assets/images/columbretes2.jpg')">
      </div>

      <div class="swiper-slide gallery__slide" style="background-image: url('/src/assets/images/columbretes3.jpg')">
      </div>

      
      <div class="swiper-slide gallery__slide" style="background-image: url('/src/assets/images/columbretes4.jpg')">
      </div>
      
      <div class="swiper-slide gallery__slide" style="background-image: url('/src/assets/images/columbretes8.jpg')">
      </div>
      
    </div>

    <!-- Botones -->
    <div class="swiper-button-prev gallery__button-prev"></div>
    <div class="swiper-button-next gallery__button-next"></div>

    <!-- Paginación -->
    <div class="swiper-pagination gallery__pagination"></div>
  </div>
</section>