<section id="intro" class="intro">
  <h1 class="intro__title">¿Qué son estas islas?</h1>
  <p class="intro__description">
      Les Illes Columbretes son un pequeño archipiélago volcánico situado en el mar Mediterráneo, frente a la costa de Castellón, España. 
  </p>
  <p class="intro__description">
      Formadas por rocas volcánicas, estas islas son un refugio natural protegido y hogar de una gran diversidad de flora y fauna, 
      incluyendo aves marinas y especies endémicas.
  </p>
  <p class="intro__description">
      Sus aguas cristalinas y fondos marinos hacen de la zona un destino ideal para el buceo y la naturaleza, mientras que su 
      aislamiento y paisaje único ofrecen un entorno de tranquilidad y aventura.  
  </p>
</section>